<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="list">News</a>
    </div>
    <h1 style="text-align: center;">UPDATE</h1>
    <form action="/update-user" method="post">
        <div class="input-group d-none">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" value="<%= userEdit.PersonID %>"
            ><br><br>
        </div>
        <div class="input-group">
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname" value="<%= userEdit.FirstName %>"
            ><br><br>
        </div>
        <div class="input-group">
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname" value="<%= userEdit.LastName %>"
            ><br><br>
        </div>
        <div class="input-group">
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" value="<%= userEdit.Address %>"
            ><br><br>
        </div>
        <div class="input-group">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="<%= userEdit.City %>"
            ><br><br>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>